
/****************************************************** base ****/

* {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

/***************************************************** container ****/

#container {
  width: 100vw;
  height: 100vh;
}

.center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}